body.fundo{
	margin:  0;
	background: url('bg.png') no-repeat top center;
	background-size: cover;
	height: 100vh;
	font-family: 'Lato', sans-serif;
	padding: 0;
	background-attachment: fixed;
}
.logo img{
	display: block;
	margin: 15px auto 25px auto;
	width: 300px;
}
.imagem img{
	position: relative;
	display: block;
	margin: 0 auto 50px;
	width: 95%;
}
.conteudo-form{
	width: 95%;
	background: #fff;
	padding: 1px;
	margin: 0 auto 0 auto;
	border-radius: 10px;
	box-sizing: border-box;
	max-width: 455px;
	color: #656d78;
}
.conteudo-form h2{
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	color: #1bb595;
}
.conteudo-form h3{
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	color: #003460;
}
.barra{
	width: 100%;
	background: #fff;
	padding: 1px;
	margin: 0;
	border-radius: 10px;
	box-sizing: border-box;
	max-width: 100%;
	color: #656d78;
}
.barra button{
	height: 40px;
	margin: auto;
	display: inline-block;
	border-radius: 30px;
	background-color: #fd673d;
	color: #fff;
	border: none;
	font-size: 14px;
	font-weight: bold;
}
.conteudo-form i{
	width: 42px;
	display: inline-block;
	text-align: center;
}
