body.fundo{
	margin:  0;
	background: url('imagens/bg.png') no-repeat top center;
	background-size: cover;
	height: 100vh;
	font-family: 'Lato', sans-serif;
	padding: 0;
	background-attachment: fixed;
}
.logo img{
	display: block;
	margin: 15px auto 25px auto;
	width: 300px;
}
.conteudo-form{
	width: 95%;
	background: #fff;
	padding: 1px;
	margin: 0 auto 0 auto;
	border-radius: 10px;
	box-sizing: border-box;
	max-width: 455px;
	color: #656d78;
}
.conteudo-form h2{
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	color: #1bb595;
}
.input-form{
	border: solid 1px #e6e9ed;
	border-radius: 4px;
	margin: 15px auto;
}
.input-form i{
	width: 42px;
	display: inline-block;
	text-align: center;
}
.input-form input, .input-form select{
	padding: 12px 0;
	width: calc(100% - 47px);
	box-sizing: border-box;
	border: none;
	font-size: 16px;
}
.input-form input:focus-visible{
	border: none;
	outline: 0;
}
.conteudo-form button{
	width: 110px;
	height: 45px;
	margin: 0 auto;
	display: block;
	border-radius: 67px;
	background-color: #fd673d;
	color: #fff;
	border: none;
	font-size: 22px;
}